*:focus {
    outline: none;
}

.sheetTbl {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #ffc300;
    overflow: hidden;
}
.sheetTbl tr {
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.sheetTbl td, .sheetTbl th {
    border: 1px solid #ddd;
    padding: 8px;
    height: 20px;
}
.sheetTbl tr:nth-child(even){ background-color: #f2f2f2; }
.sheetTbl tr:nth-child(odd){ background-color: white; }
/* .sheetTbl tr:hover { background-color: #ddd; } */
.sheetTbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.sheetTbl select {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: medium;
    color: inherit;
}
.sheetTbl td:has(select):hover {
    background-color: #ddd;
}
.sheetTbl td:has(select) {
    padding: 0;
    padding-right: 5px;
}
.changedHighlight {
    /* box-shadow: inset 4px 0px 4px #ff6868; */
    transform: translate(10px);
    opacity: 0.93;
}
.SheetMapTable {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
